<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>

<body>
<form th:object="${chatForm}" action="#" th:action="@{/chat}" method="POST">
<!--    <label for="messageName">Message Name:</label>-->
<!--    <input id="messageName" type="text" th:field="*{name}">-->
    <label for="messageText">Message Text:</label>
    <input id="messageText" type="text" th:field="*{msg}">
<!--    <label for="messageType">Mode: </label>-->
<!--    <select id="messageType" th:field="*{mode}">-->
<!--        <option-->
<!--                th:each="type:${modes}"-->
<!--                th:value="${type}"-->
<!--                th:text="${type}">-->
<!--            Say-->
<!--        </option>-->
<!--    </select>-->
    <input type="submit">
</form>

<div th:each="chatMessage : ${chatMessages}">
<!--    <span th:text="${chatMessage.name}">Username</span>: -->
    <span th:text="${chatMessage.msg}">Hello World!</span>
</div>
</body>
</html>
