<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="#" th:action="@{/login}" method="post">
        <div id="error-msg" th:if="${param.error}">
            Invalid username or password
        </div>
        <div id="logout-msg" th:if="${param.logout}">
            You have been logged out
        </div>
        <div>
            <label for="inputUsername">Username</label>
            <input type="input" name="name" id="inputUsername" placeholder="Enter Username" maxlength="20" required>
        </div>
        <div>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" placeholder="Enter Password" maxlength="20" required>
        </div>
        <button id="submit-button" type="submit" class="btn btn-primary">Login</button>
    </form>
    <label><a id="signup-link" th:href="@{/signup}">Click here to sign up</a></label>
</body>
</html>